{% extends 'admin/base.html' %}
{% load i18n %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" src="/support/js/send.js"></script>
{% endblock %}


{% block title %}{% trans 'Send a fax' %} | {% trans 'Gestione archivio telefax' %}{% endblock %}

{% block content %}

<form method="post" enctype="multipart/form-data">

{% if server_response %}
<p>Server response:</p>
<pre>
{{ server_response }}
</pre>
{% endif %}

<div id="faxPage">
    <p>{% trans 'Choose a file to send as a fax' %}:
{% for field in form %}{{ field }}{% endfor %}</p>
</div>

<div class="notice">
<p>{% trans 'There are' %} <span id="recipientQuantity">0</span>
{% trans 'recipients' %}.</p>
</div>

<div id="recipientList"></div>

<div id="addFromTextBox">
<p>{% trans 'Add a new recipient' %}: <input id="destinationNumber" length="16"/>
<button id="destinationFieldAdd">Add</button></p>
</div>

<div id="addFromList">
<p>{% trans 'To add a new recipient from the phonebook, double click on it' %}:</p>
{{phonebook.phonebook}}
    </div>
<p><input type="submit" /></p>
</form>
{% endblock %}

{% block content_title %}<h1>{{ object }}</h1>{% endblock %}

{% block breadcrumbs %}
<div id="breadcrumbs"><a href='../../admin/'>
{% trans 'Home page' %}</a> &rsaquo;
<a href='/admin/fax/fax'>Fax</a> &rsaquo;
{% trans 'Send a fax' %}</div>
{% endblock %}