{% extends "admin/change_list.html" %}
{% load i18n %}
{% block extrahead %}
{{ block.super }}
{% if refresh %}
<meta http-equiv="refresh" content="{{ refresh }}"/>
{% endif %}
<script type="text/javascript" src="/support/js/jquery.js"></script>
<script type="text/javascript" src="/support/js/hovertip.js"></script>
<script type="text/javascript" src="/support/js/init.js"></script>
{% endblock %}
{% block bodyclass %}{{ block.super }} fax-change-list{% endblock %}
{% block object-tools %}
    <ul id="tools" class="object-tools tools">
        <li>
            {% if deleted %}
            <a href="?" class="viewsitelink">{% trans 'Show not deleted' %}</a>
            {% else %}
            <a href="?deleted=1" class="viewsitelink">{% trans 'Show deleted' %}</a>
            {% endif %}
        </li>
        {% if perms.fax.can_send %}
        <li><a href="{% url fax-send %}">{% trans 'Send a fax' %}</a></li>
        {% endif %}
    </ul>
{% endblock %}